<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotsGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DotsGame.Properties.Settings>
            <setting name="Color_Cursor" serializeAs="String">
                <value>128, 64, 0</value>
            </setting>
            <setting name="Color_Gamer1" serializeAs="String">
                <value>200, 100, 50</value>
            </setting>
            <setting name="Color_Gamer2" serializeAs="String">
                <value>80, 100, 200</value>
            </setting>
            <setting name="Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BoardWidth" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardHeight" serializeAs="String">
                <value>15</value>
            </setting>
        </DotsGame.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
